{
  BasedOnStyle: Google,
  TabWidth: 2,
  IndentWidth: 2,
  UseTab: AlignWithSpaces,
  SpaceAfterCStyleCast: true,
  AllowShortBlocksOnASingleLine: Empty,
  AllowShortFunctionsOnASingleLine: Empty,
  AlignAfterOpenBracket: BlockIndent,
  ContinuationIndentWidth: 2,
}
